# Follow symbolic links on server
Options +FollowSymLinks

# Turn on URL rewrite engine
RewriteEngine on
RewriteBase /

# Disable rewriting for existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all other requests to webroot's index
RewriteRule ^.*$ webroot/index.php [PT,L]

# Redirect blank URL to webroot's index
RewriteCond %{HTTP_HOST} ^[^/]+$
RewriteRule ^(/)?$ webroot/index.php [PT,L]